@font-face {
    font-family: 'Stardos Stencil', cursive;
    font-family: 'Trocchi', serif;
}

:root {
    --dk-green: #193627;
    --moss-green: #666B38;
    --lt-green: #ADAB76;
    --dk-neutral: #ACA69F;
    --lt-neutral: #DCDFE4;
}

.bg-dk {
    background-color: var(--dk-green);
}

.bg-moss {
    background-color: var(--moss-green);
}

.bg-lt {
    background-color: var(--lt-green);
}

.bg-dk-neutral {
    background-color: var(--dk-neutral);
}

.bg-lt-neutral {
    background-color: var(--lt-neutral);
}

.icon {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: var(--moss-green);
}

.font-dk {
    color: var(--dk-green) !important;
}

.font-lt {
    color: var(--lt-neutral) !important;
}

.font-alt {
    font-family: 'Stardos Stencil';
}

.font-lg {
    font-size: 3.0rem;
}

.font-md {
    font-size: 1.50rem;
}

.font-sm {
    font-size: .75rem;
}

.font-xs {
    font-size: .25rem;
}

.icon-mg {
    margin-right: 3rem;
}

.social-icons {
    color: var(--dk-green);
}

.home-hero-bg {
    background-image: url('/images/home_hero.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    opacity: 75%;
}

.about-us-bg {
    background-image: url('/images/about_us.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    opacity: 85%;
}

.mission-hero-bg {
    background-image: url('/images/mission-hero.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: auto;
    opacity: 75%;
}

.mission-subfooter-bg {
    background-image: url('/images/post-it-banner.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100px;
}

.square {
    width: 135px;
    background-color: var(--dk-green);
    height: 135px;
  }

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid var(--dk-green);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#pro_2 {
    visibility: hidden;
}

.btn:hover {
    border-color: var(--lt-neutral);
}